<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>
<body>

    <% include partials/_banner %>
    <% include ./partials/_header %>

    <div id="urls-container">
      <% for (let key in urls) { %>
      <div class="url-line">
          <div class="url-short"><a href="http://localhost:8080/u/<%= urls[key].shortURL %>">http://localhost:8080/u/<%= urls[key].shortURL %></a></div>
          <div class="url-long"><a href="<%= urls[key].url %>">(<%= urls[key].url %>)</a></div>
          <div class="url-actions">
            <form method="GET" action="/urls/<%= key %>"><input class="submit" type="submit" value="Edit"></form>
            <form method="POST" action="/urls/<%= key %>?_method=DELETE"><input class="submit" type="submit" value="Delete"></form>
          </div>
      </div>
        <% } %>
    </div>

    <h3>Don't see the link you're looking for? <a href="/urls/new">Create one!</a></h3>
</body>
</html>